<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('partials/header'); %>
  </header>

  <main>
    <div class="jumbotron" style="background-image: 
                url(https://res.cloudinary.com/wilderness-travel/image/upload/c_scale,dpr_3.0,w_500/f_auto,q_auto/v1/trips/africa/namibia/ultimate-namibia-and-botswana/1-slide-namibia-botswana-zebra-antelope-giraffe-pano);
                background-size: cover;
                background-size: 100%;">
    </div>

    <a class="btn btn-outline-secondary btn-lg btn-block" href="/destinations/new" style="margin-bottom: 2rem">Add a New
      Destination</a>

      <div class="container">
        <div class="row">
          <!-- Blog Entries -->
          <% destinations.forEach(function(destination, index){ %>
            <div class="col-lg-6">
              <!-- Blog Post-->
              <div class="card mb-4">
                <a href="<%= destination.link %>" target="_blank"> <img class="card-img-top" src="<%=destination.image%>" style="object-fit: cover; width: 100%; height: 200px;">
                </a>
                <div class="card-body">
                  <h2 class="card-title h4">
                    <%= destination.name %>
                  </h2>
                  <p class="card-text" style="height: 150px; overflow: hidden;">
                    <%= destination.description %>
                  </p>
                  <a class="btn btn-primary" href="<%= destination.link %>" target="_blank">Read more →</a>
                </div>
              </div>
            </div>
            <% if (index % 2==1) { %>
        </div>
        <div class="row">
          <% } %>
            <% }); %>
          
          <a href="/">Return To Homepage </a>
  </main>

  <footer>
    <%- include('partials/footer'); %>
  </footer>

</body>

</html>